
/main/private
test.py
machine_learning/data/Binance_BTCUSDT_1h.csv
machine_learning/data/Binance_BTCUSDT_1h - Copy.csv
/lightning_logs
/machine_learning/agents/saved
/machine_learning/private
*.pyc
*.pkl
*.pyc
/machine_learning/training/saved
*.pyc
